main {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
.svg-description:hover + .hide{
    background-color: var(--primary-bg-color);
    color: var(--text-color);;
    box-shadow: 0px 0px 5px var(--shadow-color);
    border-radius: 15px;
    width:250px;
    height:max-content;
    position:absolute;
    left:25px;
    display: block;
    font-size: 10px;
    padding:15px;
  
}
.hide {
    display: none;
    text-align: justify;
  }
.svg-description{
    fill:gray;
}
.svg-description:hover{
    cursor: pointer;
}