<main>
    <div class="big-board">
        <app-little-board [values]="board[0]" [square]="initialSquares[0]" [state]="nextSquareToPlay"></app-little-board>
        <app-little-board [values]="board[1]" [square]="initialSquares[1]" [state]="nextSquareToPlay"></app-little-board>
        <app-little-board [values]="board[2]" [square]="initialSquares[2]" [state]="nextSquareToPlay"></app-little-board>
        <app-little-board [values]="board[3]" [square]="initialSquares[3]" [state]="nextSquareToPlay"></app-little-board>
        <app-little-board [values]="board[4]" [square]="initialSquares[4]" [state]="nextSquareToPlay"></app-little-board>
        <app-little-board [values]="board[5]" [square]="initialSquares[5]" [state]="nextSquareToPlay"></app-little-board>
        <app-little-board [values]="board[6]" [square]="initialSquares[6]" [state]="nextSquareToPlay"></app-little-board>
        <app-little-board [values]="board[7]" [square]="initialSquares[7]" [state]="nextSquareToPlay"></app-little-board>
        <app-little-board [values]="board[8]" [square]="initialSquares[8]" [state]="nextSquareToPlay"></app-little-board>
    </div>
</main>
